.skills-container {
    width: 90rem;
    max-width: 98%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding-bottom: 5rem;
    min-height: 50vh;
    background-color: rgb(25, 24, 24);
    border-radius: 12px;
}

.skills-items {
    width: 90rem;
    max-width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem;
}

.skills-title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}